services:
  dev:
    build:
      context: ./dev
      dockerfile: Dockerfile
    container_name: ros2_dev
    environment:
      - DISPLAY=:0
      - ROS_DOMAIN_ID=0
      - RMW_TRANSPORT_TYPE=udp
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
      - WEBOTS_HOME=/root/.ros
      - USER=root
    volumes:
      - ./ws:/root
      - /tmp/.X11-unix:/tmp/.X11-unix
    network_mode: host  
    command: /bin/bash
  
  echo:
    build:
      context: ./echo
      dockerfile: Dockerfile
    container_name: ros2_echo
    environment:
      - ROS_DOMAIN_ID=0
      - RMW_TRANSPORT_TYPE=udp
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
      - WEBOTS_HOME=/root/.ros
      - USER=root
    network_mode: host  
    

